.lBadge {
  padding: .25rem .5rem;
  border: 2px solid white;
}
/* Javascript */
  .l54 {
    background-color: #F7E018;
    color: #031B4E;
  }
  
/* CSS */
  .l19 {
    background-color: #1A6FB4;
    color: white;
  }

  /* Typescript */
  .l127 {
    background-color: #1D3163;
    color: white;
  }
