.lBadge {
    padding: .25rem .5rem;
    border: 2px solid white;
  }

  .fileExtBadge {
    padding: .25rem .5rem;
    border: 1px solid #bfd5f4;
  }
  
  .extensionBadge {
    height: 30px;
    padding: 0 .3rem 0 .6rem;
    border: 2px solid white;
    background-color: #102f515b;
    color: white;
    border-radius: .5rem;
    font-weight: 400;
    letter-spacing: 1.3px;
  }
