@import 
"./badge-styles/index.scss",
"./javascript.scss",
"./css.scss";



//HTML
.lang4 {
    background-color: #F7333B;
    color: white;
}

//GIT
.lang5 {
    background-color: #3F3730;
    color: white;
}
