@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  /* Snippet page heading */
  .SnippetHeading {
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -0.5px;
    line-height: 40px;
    margin: 0px;
    padding: 0px;
    word-break: break-word;
  }

  /* Snippet page language */
  .MonoHeading {
    font-family: 'JetBrainsMono', monospace;
  }

  
