* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* #__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer components {
  .tagHover {
    @apply bg-[#0072F5] text-white ease-in duration-300 cursor-pointer
  }

  .langHover {
    @apply opacity-80 cursor-pointer ease-in duration-300
  }

  .cardHover {
    @apply hover:bg-[#c8dfff] ease-in duration-300
  }

  .snipArrow {
    @apply ease-in duration-300
  }

/*   .textHoverBlue {
    @apply text-[#1253fa]
  } */
}

/* .nextui-c-fMAxGR {
  padding-bottom: 0;
} */
