* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: "#fafafa";
}

@font-face {
  font-family: "Opstimistic";
  src: url("../fonts/r/Optimistic.ttf");
}

.linenumber {
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tagHover {
    @apply bg-[#0072F5] text-white ease-in duration-300 cursor-pointer;
  }

  .langHover {
    @apply opacity-80 cursor-pointer ease-in duration-300;
  }

  .cardHover {
    @apply hover:bg-[#E6F7FF] ease-in duration-300;
  }

  .snipArrow {
    @apply ease-in duration-300;
  }

  /*   .textHoverBlue {
    @apply text-[#1253fa]
  } */
}
