.hoverable-show {
  visibility: hidden;
  opacity: 0;
}

.hoverable-item:hover .hoverable-show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.6s linear;
}

/* Link Snippets Page */
.linkSection {
  border-left: 8px solid #0072f5;
  border-radius: 5px;
}

.codeBanner {
  border-bottom: 4px solid #0072f5;
  border-radius: 0.4rem;
}

.truncateText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;

  max-width: 100%;
}

.syntaxStyle {
  border: 1px solid #0072f523;
}

.errorCodeSyntaxStyle {
  border: 1px solid #f3126023;
}

.solutionCodeSyntaxStyle {
  border: 1px solid #17c96423;
}

.outputSyntaxStyle {
  border: 1px solid #f5a52423;
}
