.hoverable-show {
    visibility: hidden;
    transition: linear 3s ease-in;

}

.hoverable-item:hover .hoverable-show {
    visibility: visible;

}

/* Link Snippets Page */
.linkSection {
    border-left: 8px solid #1253fa;
    border-radius: 5px;
}