.hoverable-show {
    visibility: hidden;
    opacity: 0;
}

.hoverable-item:hover .hoverable-show {
    visibility: visible;
    opacity: 1;
    transition: visibility .5s, opacity .6s linear;
}

/* Link Snippets Page */
.linkSection {
    border-left: 8px solid #0072F5;
    border-radius: 5px;
}

.codeBanner {
    border-bottom: 4px solid #0072F5;
    border-radius: .4rem;
}

.truncateText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;

    max-width: 100%;
}

.syntaxStyle {
    border: 1px solid #0072f523;
}